.main-header {
	width: 101%;
	height: 60%;
	position: fixed;
	padding-top: 0;
	top: 0;
	align-content: center;
}

/* Sidebar Menu */
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0; /* Stay at the top */
	left: -10em;
	background-color: #500778; /* TODO replace with correct color */
	opacity: 50; /*Sidebar Opacity + child elements */
	filter: alpha(opacity=50); /* Opacity for IE8 and earlier */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/*.sidebar {
	position: fixed;
  right: -8.5em;
  top: 50%;
  width: 8em;
  background: hsla(80, 90%, 40%, 0.7);
  color: #500778;
  margin: -3em 0 0 0;
  padding: 0.5em 0.5em 0.5em 2.5em;
}*/

/* Nav menu Links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #CCCCCC; /* Grey */
    display: block;
    transition: 0.3s;
}

/* Snazzy color changing stuff with hovering mouse over the link */
.sidenav a:hover {
    color: #ffffff; /* White */
}

.sidenav:hover { left: 0}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* Changes the style of the sidebar (less padding and a smaller font size) on smaller screens (height is less than 450px) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}