/* CSS Document */

/* Removes White Bar Above Header*/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

/* Keeps Webpage Width At 100% */
body {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.currentevent {
	height: 30%;
	width: 100%;
	position: absolute;
	background: #000000
}
.currentevent h2 {
position: absolute;
	top: 40%;
	left: 25%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	color: #ffffff;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.currentevent a {
	position: absolute;
	top: 57%;
	left: 25%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: #ffffff;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.currentevent a + a {
	position: absolute;
	top: 70%;
	left: 25%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: #ffffff;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.currentevent a + a + a {
	position: absolute;
	top: 80%;
	left: 25%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: #ffffff;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.twitchlink {
	position: absolute;
	top: .5%;
	left: 70%;
	padding:2px 0px 4px;
	display:block;
	font-weight:normal;
	font-size:10px;
	text-decoration:underline;
	color: #ffffff;
}

/* Sidebar Menu */
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 2;
	top: 0; /* Stay at the top */
	left: -10em;
	background: hsla(278.8, 89%, 24.9%, 1);
	opacity: 50; /*Sidebar Opacity + child elements */
	filter: alpha(opacity=50); /* Opacity for IE8 and earlier */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	overflow: hidden;
}

/* Nav menu Links */
.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #CCCCCC; /* Grey */
    display: block;
    transition: 0.3s;
	width: 18%;
	height: 18%;
}

/* Snazzy color changing stuff with hovering mouse over the link */
.sidenav a:hover {
    color: #ffffff; /* White */
}

.sidenav:hover { 
width: 150px;
left: 0;
background: hsla(278.8, 89%, 24.9%, 0.95);
}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* Changes the style of the sidebar (less padding and a smaller font size) on smaller screens (height is less than 450px) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


footer {
	position: absolute;
	text-align: center;
	top: 1000%;
	height: 150px;
	width: 100%;
	background-color: #b5b5b5;
	z-index: 1;
	display: block;
}

.twitterlink:hover {
	color: hsla(278.8, 89%, 24.9%, 0.7)
}

.facebolink:hover {
	color: hsla(278.8, 89%, 24.9%, 0.7)
}